# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [18]:
# Import the data
columns = [
    
    'loan_size',
    'interest_rate',
    'borrower_income',
    'debt_to_income',
    'num_of_accounts',
    'derogatory_marks',
    'total_debt',
    'loan_status'
]

df = pd.read_csv('Resources/lending_data.csv', header=None, names = columns, index_col=False)
df
df1 = df.tail(-1)
df1

C:\Users\msfte\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
1,10700.0,7.672000000000000,52800,0.4318181818181820,5,1,22800,0
2,8400.0,6.692,43600,0.3119266055045870,3,0,13600,0
3,9000.0,6.963000000000000,46100,0.3492407809110630,3,0,16100,0
4,10700.0,7.664,52700,0.4307400379506640,5,1,22700,0
5,10800.0,7.6980000000000000,53000,0.4339622641509430,5,1,23000,0
...,...,...,...,...,...,...,...,...
77532,19100,11.261,86600,0.65358,12,2,56600,1
77533,17700,10.662,80900,0.629172,11,2,50900,1
77534,17600,10.595,80300,0.626401,11,2,50300,1
77535,16300,10.068,75300,0.601594,10,2,45300,1
77536,15600,9.742,72300,0.585062,9,2,42300,1

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

* This is a moderately large dataset but fortunately doesn't have too many features; the Logistic Regression model may overfit the training data but I can select features to reduce the noise if that's the case. However, of the 2 models being required, I think the Random Forest Classifier will overall perform better because we want to, to a very high degree, accurately classify risk level of given loans, and RFC is able to iteratively improve that accuracy while logistic regression does not. Accuracy wouldn't be as important necessarily in other datasets, but a bank or business that takes financial risks needs to minimze those risks as much as possible. *

## Split the Data into Training and Testing Sets

In [ ]:
# Drop the label to create the X data
y = df["loan_status"].values
X = df.drop('loan_status', axis=1)

In [ ]:
# Split the data into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [ ]:
# Train a Logistic Regression model and print the model score

In [ ]:
# Train a Random Forest Classifier model and print the model score

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*