# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [2]:
# Import the data
columns = [
    
    'loan_size',
    'interest_rate',
    'borrower_income',
    'debt_to_income',
    'num_of_accounts',
    'derogatory_marks',
    'total_debt',
    'loan_status'
]

df = pd.read_csv('Resources/lending_data.csv', header=None, names = columns, index_col=False)
df1 = df.tail(-1)

df1.head()

C:\Users\msfte\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
1,10700.0,7.672000000000000,52800,0.4318181818181820,5,1,22800,0
2,8400.0,6.692,43600,0.3119266055045870,3,0,13600,0
3,9000.0,6.963000000000000,46100,0.3492407809110630,3,0,16100,0
4,10700.0,7.664,52700,0.4307400379506640,5,1,22700,0
5,10800.0,7.6980000000000000,53000,0.4339622641509430,5,1,23000,0

In [3]:
df1.loan_size.dtype

dtype('O')

In [4]:
df1.isnull().sum()

loan_size           0
interest_rate       0
borrower_income     0
debt_to_income      0
num_of_accounts     0
derogatory_marks    0
total_debt          0
loan_status         0
dtype: int64

In [5]:
df1.loan_size.unique()

array(['10700.0', '8400.0', '9000.0', '10800.0', '10100.0', '10300.0',
       '8800.0', '9300.0', '9700.0', '9200.0', '9400.0', '8900.0',
       '8300.0', '8000.0', '10200.0', '5200.0', '7300.0', '8700.0',
       '7900.0', '7100.0', '9600.0', '10000.0', '10400.0', '9800.0',
       '9100.0', '8100.0', '7200.0', '11700.0', '10600.0', '8500.0',
       '11100.0', '8200.0', '11200.0', '8600.0', '9900.0', '7400.0',
       '10500.0', '7800.0', '12400.0', '7500.0', '7000.0', '10900.0',
       '9500.0', '12800.0', '11600.0', '7600.0', '11000.0', '7700.0',
       '12100.0', '6300.0', '11400.0', '11900.0', '18800.0', '6900.0',
       '11300.0', '6800.0', '12000.0', '6600.0', '17000.0', '11500.0',
       '20000.0', '6700.0', '13200.0', '11800.0', '13500.0', '20800.0',
       '12300.0', '19300.0', '6500.0', '12900.0', '19600.0', '20200.0',
       '12700.0', '6100.0', '13100.0', '20500.0', '23800.0', '18900.0',
       '5700.0', '17800.0', '6400.0', '5900.0', '12200.0', '12500.0',
       '19200.0', '18300.0', '19100.0', '5800.0', '13000.0', '21000.0',
       '12600.0', '6200.0', '14100.0', '21500.0', '19800.0', '17300.0',
       '15000.0', '15900.0', '20900.0', '5000.0', '13600.0', '18100.0',
       '6000.0', '20100.0', '16500.0', '16800.0', '18700.0', '19400.0',
       '5600.0', '17400.0', '20700.0', '18500.0', '16200.0', '5400.0',
       '19900.0', '21700.0', '17900.0', '18000.0', '16600.0', '13300.0',
       '17700.0', '20400.0', '21400.0', '19500.0', '19000.0', '17600.0',
       '18200.0', '18400.0', '13900.0', '16900.0', '22100.0', '18600.0',
       '17500.0', '17200.0', '16000.0', '5300.0', '5500.0', '14600.0',
       '13400.0', '13800.0', '16700.0', '14900.0', '16100.0', '16300.0',
       '21100.0', '20300.0', '14400.0', '16400.0', '22500.0', '19700.0',
       '21300.0', '15800.0', '20600.0', '15600.0', '15500.0', '15400.0',
       '5100.0', '17100.0', '13700.0', 7700.0, 9700.0, 9200.0, 10700.0,
       10300.0, 9600.0, 10200.0, 10500.0, 9000.0, 10100.0, 9400.0,
       10600.0, 8400.0, 10800.0, 10000.0, 9300.0, 12300.0, 9500.0,
       10900.0, 8100.0, 9800.0, 11000.0, 8800.0, 10400.0, 8200.0, 9100.0,
       8900.0, 11200.0, 7800.0, 8000.0, 11600.0, 7200.0, 7500.0, 8500.0,
       7400.0, 12000.0, 9900.0, 8700.0, 6700.0, 7600.0, 8600.0, 11500.0,
       15900.0, 11800.0, 8300.0, 11400.0, 13100.0, 11100.0, 6900.0,
       6400.0, 12900.0, 7100.0, 7900.0, 12200.0, 6800.0, 6500.0, 11300.0,
       16800.0, 18000.0, 18100.0, 11700.0, 12500.0, 19600.0, 6300.0,
       12100.0, 13900.0, 13200.0, 18400.0, 7300.0, 11900.0, 5500.0,
       20800.0, 6600.0, 12400.0, 13000.0, 6200.0, 19400.0, 7000.0,
       13400.0, 19800.0, 18900.0, 17200.0, 6100.0, 19000.0, 12700.0,
       17100.0, 16900.0, 16700.0, 12600.0, 15100.0, 18200.0, 14400.0,
       17600.0, 18700.0, 18500.0, 17800.0, 17700.0, 17900.0, 20000.0,
       16300.0, 17000.0, 21600.0, 18800.0, 14300.0, 20100.0, 13500.0,
       19500.0, 20200.0, 6000.0, 18300.0, 21800.0, 18600.0, 16600.0,
       12800.0, 19300.0, 19200.0, 21500.0, 5900.0, 5700.0, 13300.0,
       17500.0, 20300.0, 20700.0, 16000.0, 20400.0, 17300.0, 19900.0,
       15800.0, 15000.0, 15700.0, 16200.0, 19100.0, 21100.0, 16100.0,
       21200.0, 17400.0, 15400.0, 19700.0, 21900.0, 22200.0, 20600.0,
       15300.0, 16400.0, 16500.0, 21400.0, 14900.0, 15200.0, 20900.0,
       20500.0, 21700.0, 15500.0, 21000.0, 21300.0, 23100.0, 22000.0,
       22800.0, 14600.0, 22400.0, 22500.0, 15600.0, 14000.0, 22900.0,
       22100.0, 22300.0, 14800.0, 14500.0, 14200.0, 14700.0, 14100.0,
       23500.0, 23400.0], dtype=object)

In [6]:
df1[df1.loan_size =="loan_size"]

Empty DataFrame
Columns: [loan_size, interest_rate, borrower_income, debt_to_income, num_of_accounts, derogatory_marks, total_debt, loan_status]
Index: []

In [7]:
df1.loan_size=df1.loan_size.astype('float')

C:\Users\msfte\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
df1.loan_status=df1.loan_status.astype('float')
df1.loan_size.unique()

array([10700.,  8400.,  9000., 10800., 10100., 10300.,  8800.,  9300.,
        9700.,  9200.,  9400.,  8900.,  8300.,  8000., 10200.,  5200.,
        7300.,  8700.,  7900.,  7100.,  9600., 10000., 10400.,  9800.,
        9100.,  8100.,  7200., 11700., 10600.,  8500., 11100.,  8200.,
       11200.,  8600.,  9900.,  7400., 10500.,  7800., 12400.,  7500.,
        7000., 10900.,  9500., 12800., 11600.,  7600., 11000.,  7700.,
       12100.,  6300., 11400., 11900., 18800.,  6900., 11300.,  6800.,
       12000.,  6600., 17000., 11500., 20000.,  6700., 13200., 11800.,
       13500., 20800., 12300., 19300.,  6500., 12900., 19600., 20200.,
       12700.,  6100., 13100., 20500., 23800., 18900.,  5700., 17800.,
        6400.,  5900., 12200., 12500., 19200., 18300., 19100.,  5800.,
       13000., 21000., 12600.,  6200., 14100., 21500., 19800., 17300.,
       15000., 15900., 20900.,  5000., 13600., 18100.,  6000., 20100.,
       16500., 16800., 18700., 19400.,  5600., 17400., 20700., 18500.,
       16200.,  5400., 19900., 21700., 17900., 18000., 16600., 13300.,
       17700., 20400., 21400., 19500., 19000., 17600., 18200., 18400.,
       13900., 16900., 22100., 18600., 17500., 17200., 16000.,  5300.,
        5500., 14600., 13400., 13800., 16700., 14900., 16100., 16300.,
       21100., 20300., 14400., 16400., 22500., 19700., 21300., 15800.,
       20600., 15600., 15500., 15400.,  5100., 17100., 13700., 15100.,
       21600., 14300., 21800., 15700., 21200., 21900., 22200., 15300.,
       15200., 23100., 22000., 22800., 22400., 14000., 22900., 22300.,
       14800., 14500., 14200., 14700., 23500., 23400.])

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

* This is a moderately large dataset but fortunately doesn't have too many features; the Logistic Regression model may overfit the training data but I can select features to reduce the noise if that's the case. However, of the 2 models being required, I think the Random Forest Classifier will overall perform better because we want to, to a very high degree, accurately classify risk level of given loans, and RFC is able to iteratively improve that accuracy while logistic regression does not. Accuracy wouldn't be as important necessarily in other datasets, but a bank or business that takes financial risks needs to minimze those risks as much as possible. *

## Split the Data into Training and Testing Sets

In [9]:
# Drop the label to create the X data
y = df1["loan_status"]
X = df1.drop('loan_status', axis=1)

In [10]:
# Split the data into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [11]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000) 
classifier

LogisticRegression(max_iter=10000)

In [12]:
y_train.unique()

array([0., 1.])

In [13]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [14]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

In [15]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier

In [17]:
clf = RandomForestClassifier(random_state=1).fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
print(classification_report(y_test, y_pred))
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

              precision    recall  f1-score   support

         0.0       1.00      0.99      1.00     18765
         1.0       0.85      0.89      0.87       619

    accuracy                           0.99     19384
   macro avg       0.92      0.94      0.93     19384
weighted avg       0.99      0.99      0.99     19384

Training Score: 0.9975409272252029
Testing Score: 0.9914878250103177

*Which model performed better? Surprisingly, for this dataset, the models both performed equally well and are virtually identical in their capabilities to predict risk level. The Logistic Regression training and testing scores have high fidelity, as do the training/testing scores for the Random Forest Classifier model.The former performed only a thousandth of a percentage better than the latter, which was mildly surprising. 
How does that compare to your prediction? 
I predicted the RFC model would perform more effectively, but either model would suffice in this case. I would recommend either model in this particular application.